---
layout: buessli
---
- for post in site.europareise2012s[10, 50]
  .blogpost
    %h2
      %a{:href=>"#{site.base_url}#{post.url}"}= post.title
    %p
      ~ site.buessli.header(post.content)
      %a{:href=>"#{site.base_url}#{post.url}"}= "[weiter lesen ...]"
.blogpost
  %h2
    %a{:href=>"#{site.base_url}/archiv2.html"}= "Zu den älteren Einträgen ..."